<!doctype html>
<title>Zużycie energii</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css" rel="stylesheet">
<link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.0.min.css" rel="stylesheet">
<nav>
    <h1>Energia</h1>
    <ul>
        <li><a href="{{ url_for('energy.energy') }}">Zużycie energii</a>
        <li><a href="{{ url_for('energy.gas') }}">Zużycie gazu</a>
    </ul>
</nav>
<section class="content">
      <header>
    {% block header %}{% endblock %}
  </header>
    {% block content %}{% endblock %}
</section>
